$borderColor : rgb(242,243,248);
$backgroundColor:rgb(245,245,248);
$formBackgroundColor: rgb(255,255,255);
$dataRangeBackgroundColor: rgb(250,251,255);
$buttonColor:rgb(51,173,255);
$checkBoxColor:rgb(163,212,231);
$textColor: rgb(112,125,142);
$formCheckBoxTextColor : rgb(115,115,115);
$fontFamily: 'Roboto', sans-serif;
$imgUrl: '../images/graphLarge.PNG' 